

body {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Abril Fatface', cursive; 
}

.menu {
  width: 80%;
  background-color: rgba(37, 38, 42, 0.211);
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-top: -10px;
  color: rgb(255, 255, 255);
  font-size: 80px; /* Adjust the value to your desired size */
  text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.6); /* Adjust the shadow properties as needed */
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.1); /* Stroke width and color */
  -webkit-text-fill-color: white; /* Fill color */
  -webkit-text-stroke: 0.01cm rgba(0, 0, 0, 0.253); /* Stroke width and color for webkit browsers */
  -moz-text-stroke: 1px rgba(0, 0, 0, 0.347); /* Stroke width and color for Firefox */
}

h2{
  font-family: Arial, sans-serif;
  text-align: center;
  font-size: 26px;
  text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.6);
  color:rgb(255, 255, 255)
} 

p {
  text-align: center;
  color:rgb(255, 255, 255);
  text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.6); /* Adjust the shadow properties as needed */

}

.established {
  
  font-style: italic;
  margin-top: -50px; /* Move the element 15px up */
  font-size: 20px; /* Increase the font size to the desired value */
}

.item p {
  font-family: Arial, sans-serif;
  display: inline-block;
  margin: 5px 0;
  font-size: 18px;
  font-weight:700;
  
}

.full-width{
  width: 95%;
  text-align:inherit;

}
.products {
  width: 50%;
  text-align: left;
  
}

.price {
  width: 50%;
  text-align: right;
  vertical-align:top;
}


hr {
  font-family: Arial, sans-serif;
  height: 2px;
  background-color: rgba(100, 46, 46, 0.445);
  border-color: rgb(0, 0, 0);
}

a {
  font-family: Arial, sans-serif;
  color: rgb(255, 253, 253);
}


.button-container {
  display: flex; /* Display buttons in a row */
  justify-content: center; /* Center buttons horizontally */
  flex-wrap: wrap; /* Allow buttons to wrap to a new row */
  margin-top: 20px; /* Add some space between the header and buttons */
}

.button-container a {
  display: block;
  padding: 20px 35px; /* Adjust padding to control button size */
  margin: 5px; /* Add some space between buttons */
  background-color: #00164754; /* Button background color */
  color: #ffffff; /* Button text color */
  border: 1px solid #2d2c2cc1;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

/* Modal styles */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: scroll; /* Enable scrolling if needed */
  background-color: rgba(0, 0, 0, 0.4); /* Black with opacity */
}


.modal-content {
  background-color: #00000005;
  margin: 0% auto; /* Adjust margin to center the modal vertically */
  padding: 20px;
  border: 1px solid #88888800;
  width: 90%; /* Adjust width as needed */
  height: 90%; /* Adjust height as needed */
  max-width: 800px; /* Limit the maximum width of the modal */
  position: relative;
}
#modal-iframe {
  width: 100%;
  height: 90%;
  position: center;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}